.button1 {
    margin-left: 25px;
    background-color: peachpuff;
    height: 30px;
    width: 60px;
    font-size: 1rem;
}

.button2 {
    margin-left: 5px;
    background-color: peachpuff;
    height: 30px;
    width: 60px;
    font-size: 1rem;
}

.list {
    font-size: 1.5rem;
    padding-left: 15px;
}

ul {
    list-style-type: none;
}
